h1 {
	color: var(--text);
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

h2 {
	color: var(--text);
	font-size: 18px;
	font-style: bold;
	font-weight: 700;
	line-height: 100%;
}

h3 {
	color: var(--text);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
}

h4 {
	color: var(--text);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%;
}

h5 {
	color: var(--textSecondary);
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 120%;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 1rem;
	box-shadow: 0px 1px 0px 0px #DFE6EB;
	padding-inline: 3rem;
}